#sticky_scroll_bar{
    display: grid;
    grid-template-columns: 85% 15%;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    background-color: white;
    border: 2px solid black;
}

#booth_banner{
    width: 100%;
    height: auto;
}
#Top_Title{
    text-align: center;
    padding: 0%;
}
#slogan{
    margin: 3%;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: black;
}

body{
    background-image: radial-gradient(rgb(255, 230, 198), white);
    margin-left: 2%;
    margin-right: 2%;
}
/*rgb(255, 230, 198)*/

#Image_and_Text{
    border-bottom: 2px solid rgb(117, 117, 117);
}

#person_img{
    width: 60%;
    height: auto;
    border-radius: 50%;
}
#the_people{
    display: grid;
    grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
    margin: 2%;
}
@media screen and (max-width: 800px) {
    #the_people{
        display: flex;
        grid-template-columns: initial;
        flex-wrap: wrap;
        margin: 2%;
    }
}

#person{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;

}

a{
    text-decoration: none;
}
h2{
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}
h4{
    font-family: "Marhey", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(71, 21, 21);
}
h5{
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "STIX Two Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-wrap: wrap;
}

#img_link{
    padding: 3%;
}

#stanthomrtis{
    width: 50%;
    height: auto;
    border-radius: 20%;
}

#merch_img{
    width: 200px;
    height: auto;
    border-radius: 30%;
}


#cute_baby_stan{
    height: 10%;
    width: auto;
    transform: scaleX(-1);
    border-radius: 30%;
}

#bottom_half{
    display: grid;
    grid-template-columns: 50% 50%;
}
@media screen and (max-width: 800px) {
    #bottom_half{
        display: block;
        grid-template-columns: initial;
    }  
}

#about_and_store_sections{
    margin: 3%;
}

#project_section{
    margin: 3%;
}

#italic{
    font-style: italic;
}

#link{
    color: #1a73e8;
}

#copyright{
    margin: 3%;
    font-size: small;
    text-align: center;
    color: grey;
}

.external-link svg {
    padding-left: 0.25em;
    margin-right: -0.25em;
    position: relative;
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}