
#sticky_scroll_bar{
    display: grid;
    grid-template-columns: 85% 15%;
    position: sticky;
    top: 0;
    background-color: white;
    border: 2px solid black;
}

#booth_banner{
    width: 100%;
    height: auto;
}
#Top_Title{
    text-align: center;
    padding: 0%;
}
#slogan{
    margin: 3%;
    font-size: small;
    text-align: center;
    color: black;
}

#Image_and_Text{
    border-bottom: 2px solid lightgrey;
}

#person_img{
    width: 80px;
    height: auto;
}
#the_people{
    display: grid;
    grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
}

a{
    text-decoration: none;
}

#img_link{
    padding: 3%;
}

#stanthomrtis{
    width: 50%;
    height: auto;
}

#merch_img{
    width: 200px;
    height: auto;
}


#cute_baby_stan{
    height: 10%;
    width: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#bottom_half{
    display: grid;
    grid-template-columns: 50% 50%;
}

#italic{
    font-style: italic;
}

#link{
    color: #1a73e8;
}

#copyright{
    margin: 3%;
    font-size: small;
    text-align: center;
    color: grey;
}

.external-link svg {
    padding-left: 0.25em;
    margin-right: -0.25em;
    position: relative;
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}