#sticky_scroll_bar{
    display: grid;
    grid-template-columns: 85% 15%;
    position: sticky;
    top: 0;
    background-color: white;
    border: 2px solid black;
}

#booth_banner{
    width: 100%;
    height: 200px;
}
#Top_Title{
    text-align: center;
    padding: 0%;
}

#person_img{
    width: 80px;
    height: auto;
}
#the_people{
    display: grid;
    grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
}

#bottom_half{
    display: grid;
    grid-template-columns: 50% 50%;
}

#slogan{
    margin: 3%;
    font-size: small;
    text-align: center;
    color: black;
}
#copyright{
    margin: 3%;
    font-size: small;
    text-align: center;
    color: grey;
}
a{
    text-decoration: none;
}
#img_link{
    padding: 2%;
}